<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List product</h1>
<button><a th:href="@{/products/create}">Create new</a></button>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th colspan="2">Action</th>
    </tr>
    <tr th:each="p : ${product}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.quantity}"></td>
        <td><button><a th:href="@{/products/update/{id}(id=${p.id})}">Update</a></button></td>
        <td><button><a th:href="@{/products/delete/__${p.id}__}">Delete</a></button></td>
    </tr>
</table>
</body>
</html>
