<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update product</h1>
<form th:object="${product}" method="post">
    <label>ID: <input type="text" th:field="*{id}"></label><br>
    <label>Name: <input type="text" th:field="*{name}"></label><br>
    <label>Price: <input type="text" th:field="*{price}"></label><br>
    <label>Quantity: <input type="text" th:field="*{quantity}"></label><br>
    <button>Update</button>
</form>
</body>
</html>
